html, body {
    box-sizing: border-box;
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "topBar"
    "playField"
    ;
}


.topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: topBar;
}

.playfield {
    grid-area: playField;
    border:var(--test-border);
    display: flex;
}

.playfield div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


:root {
    --test-border: 2px solid red;
}