html, body {
    box-sizing: border-box;
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "topBar"
    "playField"
    ;
}


.topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: topBar;
}

.playfield {
    grid-area: playField;

    display: flex;
}

.playfield div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12px;

}


.playfield .userpanel{
    display: flex;
    flex-direction: column;
    border:var(--test-border);
    

}

.botpanel{
    border:var(--test-border);
}









.playfield .userpanel button{
    width: 180px;
    height: 50px;
}









:root {
    --test-border: 2px solid red;
}