* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    box-sizing: border-box;
    width:100vw;
    height: 100vh;

}

body {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "topBar"
    "playField"
    ;
}

.topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: topBar;
}

.playfield {
    grid-area: playField;
    display: flex;
}

.playfield .side{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12px;

}


.playfield .userpanel{
    display: flex;
    flex-direction: column;

}

.botpanel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.gameGUI{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 10% 90%;
    grid-template-columns: 50vw;
    grid-template-areas: 
    "name"
    "playbox"
    ;
 
}

.name{
    grid-area: name;
    display: grid;
    justify-content: center;
    align-items: center;
    border:2px dotted green;
    width: 100%;
    height: 100%;
    
}

.playbox{
    grid-area: playbox;
    width:100%;
    height: 100%;
    border:2px dotted red;
    display: grid;
    grid-template-rows: 10% 90%;

}

.scoreContainer{
    background-color: green;
    width: 100%;
    height: 100%;
}


.gameContainer{
    background-color: red;
    width: 100%;
    height: 100%;

    display:grid;
    grid-template-columns: repeat(10,40px);
    grid-template-rows: repeat(10,40px);
    justify-content: center;   
    align-items:center;
    padding-top: 50px;

}

.cell {
    border:1px solid gold;
    background-color: darkslategray;
    width: 40px;
    height: 40px;
}



.playfield .userpanel button{
    width: 180px;
    height: 50px;
}








:root {
    --test-border: 2px solid red;
}